<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xmlRootClass>
    <Exchange Incoming_Bindings_count="0" Outgoing_Bindings_count="0" Name="exchange_2"/>
    <Exchange Incoming_Bindings_count="0" Outgoing_Bindings_count="0" Name="exchange_2"/>
    <Exchange Incoming_Bindings_count="0" Outgoing_Bindings_count="0" Name="exchange_2"/>
    <Exchange Incoming_Bindings_count="0" Outgoing_Bindings_count="0" Name="exchange_2"/>
</xmlRootClass>
